#APPSERVER Config
PROTHEUS_DATA_PATH=./totvs12/protheus_data
PROTHEUS_APO_PATH=./totvs12/protheus/apo

# DBAccess Config
DBACCESS_SERVER=dbaccess
DBACCESS_ALIAS=protheus
DBACCESS_PORT=7890

# Database Config
DB_HOST=database
DB_PORT=5432
DB_USER=protheus
DB_PASS=protheus
DB_NAME=protheus
PG_DATA=/var/lib/postgresql/data
